In [2]:
import pandas as pd
import numpy as np
import math

In [4]:
station_id = '23025122'

In [8]:
def hora_to_sec(hora):
	hora, minu, seg = hora.split(':')
	return (int(hora) * 60 * 60) + (int(minu) * 60)

data = pd.read_csv('./data/export_automaticas_23025122_data.csv', sep=';')['data'].to_list()
hora = pd.read_csv('./data/export_automaticas_23025122_hora.csv', sep=';')['hora'].to_list()
dado = pd.read_csv('./data/export_automaticas_23025122_tempsolocm40cm.csv')['tempsolocm40cm'].to_list()
dias = [s for i, s in enumerate(list(dict.fromkeys(data)))]
data_id = [dias.index(d) for d in data]
meses = [d.split('-')[1] for d in data]
hora_seg = [hora_to_sec(h) for h in hora]
hora_dia = [h.split(':')[0] for h in hora]
pd.DataFrame({
	'Day_Station_ID': ['{}'.format(dia) for dia in data_id],
	'Global_Time': hora_seg,
	'tempsolocm40cm': dado,
	'month': meses,
	'hour': hora_dia,
}).to_csv('./data/tempsolocm40cm.{}.dia_id.csv'.format(station_id), index=0)

In [58]:
def hora_to_sec(hora):
	hora, minu, seg = hora.split(':')
	return (int(hora) * 60 * 60) + (int(minu) * 60)

def data_to_mes(data):
	ano, mes, _ = data.split('-')
	return '{}-{}'.format(ano, mes)

data = pd.read_csv('./data/export_automaticas_23025122_data.csv', sep=';')['data'].to_list()
hora = pd.read_csv('./data/export_automaticas_23025122_hora.csv', sep=';')['hora'].to_list()
dado = pd.read_csv('./data/export_automaticas_23025122_tempsolocm40cm.csv')['tempsolocm40cm'].to_list()
meses = [s for s in list(dict.fromkeys([data_to_mes(d) for d in data]))]
data_id = [meses.index(data_to_mes(d)) for d in data]
hora_seg = [hora_to_sec(h) for h in hora]

pd.DataFrame({
	'Day_Station_ID': ['{}'.format(dia) for dia in data_id],
	'Global_Time': hora_seg,
	'tempsolocm40cm': dado,
}).to_csv('./data/tempsolocm40cm.{}.mes_id.csv'.format(station_id), index=0)

In [ ]:
AND[AND[AND[NOT[tempsolocm40cm < 0.6380851821644629],tempsolocm40cm > 0.42180878612627803],AND[tempsolocm40cm > 0.7133676915902404,tempsolocm40cm > 0.22459223907374815]],AND[AND[AND[tempsolocm40cm > 0.3109144064738224,tempsolocm40cm > 0.002128206305103464],AND[tempsolocm40cm > 0.4644768077046675,tempsolocm40cm > 0.7617905900289216]],AND[tempsolocm40cm > 0.8041369101842661,AND[tempsolocm40cm > 0.4772981552165063,tempsolocm40cm > 0.9820980291183405]]]]

In [ ]:
AND[AND[AND[tempsolocm40cm < 0.093,tempsolocm40cm > 0.013000000000000001],AND[tempsolocm40cm < 0.8,tempsolocm40cm < 0.013000000000000001]],AND[AND[tempsolocm40cm < 0.183,tempsolocm40cm < 0.13],tempsolocm40cm < 0.013000000000000001]]

In [8]:
pd.read_csv('./data/tempsolocm40cm.23025122.dia_id.csv').head()

   Day_Station_ID  Global_Time  tempsolocm40cm  month  hour
0               0            0           24.56     12     0
1               0          900           24.57     12     0
2               0         1800           24.58     12     0
3               0         2700           24.59     12     0
4               0         3600           24.60     12     1